.Tabla table th {
    text-transform: uppercase;
    background-color: #587272;
    color: white;
}

.Tabla table tr {
    text-align: center;
    border-top: 2px solid #587272;
    border-bottom: 2px solid #587272;
}

.Tabla table td, .Tabla table th {
    border: 1px solid white;
}

.Tabla table tfoot tr td {
    background-color: #587272;
    color: white;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
}

.Tabla button.btn.btn-danger:hover {
    background-color: rgba(239, 147, 143, 0.877);
    color: white;
    border-color: rgba(239, 147, 143, 0.877);
}

.Tabla button.btn.btn-danger {
    color: white;
    background-color: #587272;
    border: 2px solid #587272
}

.Tabla button.btn.btn-info {
    background-color: white;
    color: #587272;
    border: 2px solid #587272;
}

.Tabla button.btn.btn-info:hover {
    color: white;
    background-color: #587272;
    border: 2px solid #587272;
}