.Nosotros {
    padding: 20px;
    height: auto;
    text-align: center;
}

.Nosotros h1 {
    text-align: center;
    margin-bottom: 24px;
}

.Nosotros img {
    width: 60vw;
    margin-bottom: 20px;
    border-radius: 10px;
}
