footer {
    background-color: #2F4F4F;
    color: white;
    text-align: center;
    font-size: 22px;
}

footer h4 {
    margin: 10px;
}

footer h6 {
    margin: 20px 0 0 0;
}

footer i {
    margin: 0 5px;
}

footer section {
    margin: 16px;
}

footer section p {
    font-size: 16px;
    margin-bottom: 8px;
}

footer section a {
    text-decoration: none;
    color: white;
}

footer section a:hover {
    text-decoration: none;
    color: white;
}

footer section i {
    cursor: pointer;
}

footer section button {
    margin: 1px solid white;
    color: white;
    background-color: transparent;
    font-weight: bold;
    padding: 0.75rem 1.75rem;
    margin-top: 1rem;
    border-radius: 5px;
}

footer section button:hover {
    color: #2F4F4F;
    background-color: white;
    cursor: pointer;
}