#boton-carrito {
    margin-left: 26px;
}

li.nav-item:hover {
    border: 3px solid #2F4F4F;
    border-radius: 10px;

}

li.nav-item {
    margin-left: auto;
    margin-right: auto;
}

.nav-item {
    padding: 0 24px;
}