.Contacto {
    padding: 20px;
    height: auto;
}

.Contacto h1 {
    text-align: center;
}

.Contacto .contacto-form {
    width: 60%;
    margin: 20px auto;
    padding: 30px;
    color: white;
    border-radius: 20px;
    border: 1px solid #2F4F4F;
}

@media (max-width: 576px) {
    .Contacto .contacto-form {
        width: 90%;
        margin: 20px auto;

    }
}

.Contacto .contacto-form .form-group {
    text-align: center;
    padding: 3px;
}

.Contacto input:focus,
textarea:focus {
    outline: none;
    background: #2f4f4f50;
    border: solid 2px #2F4F4F;
}

.Contacto label {
    color: #2F4F4F;
    text-transform: capitalize;
    display: block;
}

.Contacto textarea {
    width: 70%;
    border-radius: 20px;
}

.Contacto form input[type="text"]:required:valid,
form input[type="email"]:required:valid,
form textarea:required:valid {
    border: 2px solid green;
}


.Contacto form input[type="text"]:focus:required:invalid,
.Contacto form input[type="text"]:focus-within:required:invalid,
.Contacto form input[type="email"]:focus:required:invalid,
.Contacto form textarea:focus:required:invalid {
    border: 2px solid red;
}

.Contacto button {
    display: block;
    margin: 15px auto;
    height: 40px;
    width: 40%;
    background-color: #2F4F4F;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}

.Contacto button:hover {
    background-color: white;
    color: #2F4F4F;
    cursor: pointer;
}

.Contacto input {
    width: 70%;
    height: 30px;
    border-radius: 5px;
}